---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Contact | He Craves You">

<section style="max-width:600px;margin:8rem auto;text-align:center;padding:2rem;">
  <h1>Contact Us</h1>

  <form>
    <input placeholder="Your Name" />
    <input type="email" placeholder="Your Email" />
    <textarea rows="5" placeholder="Your Message"></textarea>
    <button>Send Message</button>
  </form>
</section>

</BaseLayout>
